html {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: monospace;
  font-size: 20px;

  /*background: linear-gradient(to right, rgb(127, 140, 131), rgb(201, 190, 162));*/
  background: linear-gradient(to right, #e96443, #904e95);
}

section {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background: linear-gradient(45deg, #ff5f6d, #ffc371);
}

h1 {
  text-align: center;
}

#baby-loading {
  width: 400px;
}

#progress {
  width: 800px;
  max-width: 90%;
  height: 2em;
  position: relative;
  background: white;

  border-color: rgba(255, 255, 255, 0.7);
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
}

#completed, #average, #percentage-container {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
}

#completed, #average, #completed {
  border-radius: 3px;
}

#average {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

#percentage-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes progress-bar {
  from {
    background-position: 0 center;
  }

  to {
    background-position: 2em center;
  }
}

#completed {
  background: #03abff;
  background-image: url('../img/diagonal.svg');
  background-repeat: repeat;
  background-size: auto 100%;
  animation: progress-bar 1s infinite;
  animation-timing-function: linear;
}

#born {
  display: none;
  overflow: auto;
}

#born ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  #born ul {
    flex-direction: column;
  }
}

#born ul ul {
  flex-direction: column;
}

#born ul li {
  border-style: solid;
  border-width: 30px 30px 30px 30px;
  border-image: url(../img/frame1.png) 90 90 90 90 stretch;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

  display: block;
  margin: 50px;

  width: 300px;
  transition: transform 0.5s;
  transform-origin: center 10%;
}

#born ul li div {
  background-color: white;
  padding: 10px;
}

#frame-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

#frame-photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 150%;
}

#curtains {
  overflow: hidden;
}

#curtains > * {
  position: absolute;
  top: 0;
  height: 200vh;
  width: 200vw;

  background-color: red;
}

/*tr:nth-child(odd)*/



