@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

html {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #3a2b2a;
  background: linear-gradient(45deg, #faf2f3, #f8fbf6);
}

a, a:visited {
  color: #43a5b1;
}

section {
  left: 0;
  top: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#loading > * {
  margin: .5em;
}

h1 {
  text-align: center;
}

#baby-loading {
  width: 350px;
  max-width: 75%;
}

#charlene {
  max-width: 75%;
}

#progress {
  width: 800px;
  max-width: 90%;
  height: 2em;
  position: relative;
  background: white;

  border-color: rgba(255, 255, 255, 0.7);
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
}

#completed, #average,
#not-yet-born-container,
#percentage-container {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
}

#completed, #average, #completed {
  border-radius: 3px;
}

#average {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

#percentage-container,
#not-yet-born-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#percentage, #not-yet-born {
  text-shadow: 0 0 2px #fff;
  font-family: monospace;
}

@keyframes progress-bar {
  from {
    background-position: 0 center;
  }

  to {
    background-position: 2em center;
  }
}

#completed {
  background: #59dcec;
  background-image: url('../img/diagonal.svg');
  background-repeat: repeat;
  background-size: auto 100%;
  animation: progress-bar 1s infinite;
  animation-timing-function: linear;
}

#born {
  display: none;
  overflow: auto;
}

#born ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  #born ul {
    flex-direction: column;
  }
}

#born ul ul {
  flex-direction: column;
}

#born ul li {
  border-style: solid;
  border-width: 16px;
  border-image: url(../img/frame1.png) 90 90 90 90 stretch;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

  display: block;
  margin: 30px;

  width: 320px;
  max-width: 75%;
  box-sizing: border-box;

  transition: transform 0.5s;
  transform-origin: center 10%;
}

@media (max-width: 500px) {
  #born ul li {
    margin: 20px 0;
  }
}

#mijn-zoon {
  width: 350px;
  max-width: 75%;
  display: block;
  margin: 2em auto;
}

#born ul li div {
  background-color: white;
  padding: 10px;
}

#frame-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

#frame-photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 150%;
}

#curtains {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#curtains > div {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

#curtains > div:first-child {
  left: 0;
}

#curtains > div:last-child {
  right: 0;
}

#curtains > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#curtain-left-front,
#curtain-right-front {
  background-image: url('../img/gordijn-front.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
}

#curtain-left-back,
#curtain-right-back {
  background-image: url('../img/gordijn-back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
}

#curtain-right > div {
  transform: scaleX(-1);
}

#guestbook {
  display: none;
}
